
<%= form_for(store) do |f| %>
  <% if store.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(store.errors.count, "error") %> prohibited this store from being saved:</h2>

      <ul>
      <% store.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-inputs">

    <%= f.text_field :name, placeholder: "Store name" %>
  </div><br>

  <div class="form-inputs">

    <%= f.text_area :description, placeholder: "Describe your store in a few and catchy words" %>
  </div><br>

  <div class="form-inputs">

    <%= f.text_field :city, placeholder: "Which city is your store located in?" %>
  </div><br>

  <div class="form-inputs">

    <%= f.text_field :website, placeholder: "Does your store have a website?" %>
  </div><br>

  <div class="form-inputs">

    <%= f.text_field :facebook, placeholder: "Does your store have a facebook page?" %>
  </div><br>

  <div class="actions">
    <%= f.submit class: "button" %>
  </div>
  <% end %>
