<div class="wrapper">
  <section class="row cf">
    <div class="wrapper">
      <% @products.each do |product| %>
        <div class="card">
          <div class="card-image">
            <%= image_tag(product.image.medium) %>
          </div>
          <div class="card-content">
            <h4><%= link_to product.name, product %></h4>
            <!-- <p><%= product.description %></p> -->
            <p class="amount"><%= product.price %></p>
            <p ><%= product.store.name %></p>
          </div>
        </div>
      <% end %>
    </div>
  </section>

  <%= link_to 'New Product', new_product_path %>
</div>
